<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Home Job Marketplace</display-name>
    <description>
        Home Job Marketplace
    </description>

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.care.listeners.ApplicationListener</listener-class>
    </listener>

    <filter>
        <filter-name>connectionSessionFilter</filter-name>
        <filter-class>org.care.filters.ConnectionSessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>connectionSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>myTestServlet</servlet-name>
        <servlet-class>org.care.presentation.MyTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myTestServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.care.presentation.visitor.LoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/visitor/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.care.presentation.visitor.MemberRegistrationServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/visitor/register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>org.care.presentation.visitor.ResetPasswordServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/visitor/resetpassword</url-pattern>
    </servlet-mapping>
</web-app>