<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Home Job Marketplace</display-name>
    <description>
        Home Job Marketplace
    </description>

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>org.care.listeners.ApplicationListener</listener-class>
    </listener>

    <filter>
        <filter-name>connectionSessionFilter</filter-name>
        <filter-class>org.care.filters.ConnectionSessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>connectionSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <!--<dispatcher>INCLUDE</dispatcher>-->
        <!--<dispatcher>REQUEST</dispatcher>-->
    </filter-mapping>
    
    <servlet>
        <servlet-name>welcomeServlet</servlet-name>
        <servlet-class>org.care.presentation.visitor.WelcomeServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>welcomeServlet</servlet-name>
        <url-pattern>/visitor/welcome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>myTestServlet</servlet-name>
        <servlet-class>org.care.presentation.MyTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myTestServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>org.care.presentation.visitor.LoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/visitor/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>org.care.presentation.visitor.MemberRegistrationServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/visitor/register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>org.care.presentation.visitor.ResetPasswordServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/visitor/reset-password</url-pattern>
    </servlet-mapping>

    <!--<servlet>-->
        <!--<servlet-name>homePageServlet</servlet-name>-->
        <!--<servlet-class>org.care.presentation.member.HomePageServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>homePageServlet</servlet-name>-->
        <!--<url-pattern>/member/home</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>seekerHomePageServlet</servlet-name>
        <servlet-class>org.care.presentation.seeker.SeekerHomePageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>seekerHomePageServlet</servlet-name>
        <url-pattern>/seeker/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sitterHomePageServlet</servlet-name>
        <servlet-class>org.care.presentation.sitter.SitterHomePageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sitterHomePageServlet</servlet-name>
        <url-pattern>/sitter/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>newJobServlet</servlet-name>
        <servlet-class>org.care.presentation.seeker.NewJobServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>newJobServlet</servlet-name>
        <url-pattern>/seeker/new-job</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>viewProfileServlet</servlet-name>
        <servlet-class>org.care.presentation.member.ViewProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>viewProfileServlet</servlet-name>
        <url-pattern>/member/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listJobApplicationServlet</servlet-name>
        <servlet-class>org.care.presentation.seeker.ListJobApplicationsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>listJobApplicationServlet</servlet-name>
        <url-pattern>/seeker/list-job-application</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchMemberServlet</servlet-name>
        <servlet-class>org.care.presentation.member.MemberSearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>searchMemberServlet</servlet-name>
        <url-pattern>/member/search</url-pattern>
    </servlet-mapping>

</web-app>